<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mxcsyounes.archernotebook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AdjustmentsActivity"
            android:label="@string/title_activity_adjustments"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.mxcsyounes.archernotebook.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ScoresActivity"
            android:label="@string/title_activity_scores"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.mxcsyounes.archernotebook.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.BowSettingActivity"
            android:label="@string/title_activity_bow_setting"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.mxcsyounes.archernotebook.activities.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.mxcsyounes.archernotebook.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_paths" />
        </provider>

        <activity
            android:name=".activities.AdjustmentDetailActivity"
            android:label="@string/title_activity_adjustment_detail"
            android:parentActivityName=".activities.AdjustmentsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddAdjustmentActivity"
            android:label="@string/title_activity_add_adjustment"
            android:parentActivityName=".activities.AdjustmentsActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>